@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {

    --background: 24 20% 98%;

    --foreground: 24 10% 10%;

    --card: 24 20% 100%;

    --card-foreground: 24 10% 10%;

    --popover: 24 20% 100%;

    --popover-foreground: 24 10% 10%;

    --primary: 193 42% 22%;

    --primary-foreground: 0 0% 100%;

    --secondary: 192 32% 36%;

    --secondary-foreground: 0 0% 100%;

    --muted: 193 67% 95%;

    --muted-foreground: 193 42% 40%;

    --accent: 189 67% 80%;

    --accent-foreground: 193 42% 22%;

    --destructive: 0 84% 60%;

    --destructive-foreground: 0 0% 98%;

    --border: 193 42% 85%;

    --input: 193 42% 85%;

    --ring: 193 42% 22%;

    --radius: 0.5rem
  }
}
